@media print {

	body {
		font-family: georgia, times, serif;
		font-size: 12pt;
	}

	#filterDataSetSectionDiv, #headerMessage, #currentSelection, #selectedDataSetId, #selectedPeriodId, #prevButton, #nextButton, .inputCriteria,  .fa-question-circle, .sectionFilter {
		display: none !important;
	}


	#moduleHeader {
		display: block !important;
	}

	.selectionLabel, #selectedOrganisationUnit {
		display: inline-block !important;
	}

	#selectedPeriodId {
		visibility: visible !important;
	}

	#selectionBox {
		display: block !important;
	}

	#selectionBox, .entryfield {
		background-color: white !important;
	}

	/* Custom element created by JS */

	.customTextBox {
		width: 394px;
		padding: 3px;
		margin: 5px 0px 0px 5px;
	}

	.customCheckbox {
	    margin-right: 10px !important;
	}
}
